<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= bot.typebot.name%></title>
	</head>
	<body>
		<iframe src="<%= embedUrl%>" style="width: 100vw; height: 100vh" frameborder="0"></iframe>
	</body>
</html>
