<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bots</title>
	</head>
	<body>
		<h1>Available Bots</h1>
		<ul>
			<% bots.forEach(bot => { %>
			<li>
				<%= bot.icon %><strong><%= bot.name %></strong>
				<a href="/bots/<%= bot.id %>">Start</a>
				<a href="/bots/<%= bot.id %>/analytics">Analytics</a>
			</li>
			<% }) %>
		</ul>
	</body>
</html>
